* {
  box-sizing: border-box;
}
 
body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f5f5f5;
}
 
h1 {
  margin: 0;
}
 
.header {
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid lightgray;
  padding: 10px;
  background-color: white;
}

.link-header {
  display: flex;
  justify-content: space-between;
}

.link-header > span {
  margin: 0 10px;
}

.mobile-short-label, 
.mobile-short-logo{
  display: block;
}

.desktop-long-label,
.desktop-long-logo {
  display: none;
}
 
.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1;
  color: #ffa41b;
}
 
.categories-navigation {
  font-size: 20px;
  font-weight: bold;
  color: #666;
  padding: 16px 10px 6px;
  white-space: nowrap;
  overflow-x: scroll;
}
 
.category-navigation-link {
  text-decoration: unset;
  color: inherit;
}

.text-field, textarea {
  height: 40px;
  background-color: white;
  padding: 8px;
  border: 2px solid #ffa41b;
  border-radius: 8px;
  font-size: 12px;
  font-family: inherit;
}
 
.button {
  min-width: 35px;
  height: 30px;
  padding: 8px;
  border-radius: 8px;
  border: 2px solid #ffa41b;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  font-size: 12px;
  font-weight: bold;
  color: #ffa41b;
  background-color: white;
  cursor: pointer;
}

.form-container {
  display: flex;
  justify-content: center;
  margin: 20ch;
}

.form-container > form {
  width: 50ch;
  display: flex;
  flex-direction: column;
}

.form-container > form > label,
.form-container > form > input,
.form-container > form > select {
  margin: 1ch;
}
.form-container > form > select {
  height: 5ch;
}

.tags {
  height: 20ch !important;
}

textarea {
  height: 20ch;
}
 
.logo {
  border: none;
}
 
.button-primary {
  background-color: #ffa41b;
  color: rgb(13, 9, 9);
}
 
.text-field-with-button {
  margin: 10px;
  display: flex;
  flex-grow: 0.3;
  justify-content: end;
  gap: 4px;
}
 
.main-search-field {
  width: 100%;
  min-width: 120px;
  max-width: 360px;
  flex-grow: 1;
}

.link-button {
  text-decoration: none;
}
 
.main-content {
  width: 100%;
  padding: 0 16px;
  margin: 120px auto 48px;
}
 
.recent-ads {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  flex-wrap: wrap;
}

.ad-card-link {
  text-decoration: inherit;
  color: inherit;
}
 
.ad-card-image {
  width: 100%;
  border-radius: 8px;
}
 
.ad-card-text {
  padding: 12px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}
 
.ad-card-title {
  font-weight: bold;
}
 
.ad-details-image-container {
  margin-inline-start: -24px;
  margin-inline-end: -24px;
}
 
.ad-details-image {
  width: 100%;
}
 
.ad-details {
  width: 60%;
  display: grid;
  gap: 24px;
}


 
@media screen and (min-width: 1400px) {
  .desktop-long-logo {
    display: initial;
    font-size: 30px;
  }
  
  .mobile-short-label, 
  .mobile-short-logo {
    display: none;
  }
  .desktop-long-label {
    text-align: center;
    display: initial;
    font-size: 13px;
  }
 
  .categories-navigation {
    padding-top: 14px;
    display: flex;
    justify-content: space-between;
  }
 
  .ad-details-image-container {
    margin-inline-start: unset;
    margin-inline-end: unset;
  }
 
  .ad-details {
    grid-template-columns: 1fr 388px;
  }
}

 
.ad-details-info {
  display: grid;
  gap: 12px;
  align-content: baseline;
}
 
.ad-details-price {
  font-weight: bold;
}
 
.separator {
  width: 100%;
  height: 1px;
  background-color: lightgray;
  border: none;
}